@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Test GUI for To DO List API.</p>
<p>API URL: <a href="http://vtstodo.azurewebsites.net">http://vtstodo.azurewebsites.net</a></p>
